.card {
  @apply w-[444px]
    rounded-none
    font-helvetica
    border-[#E1E4EA];
}

.cardHeader {
  @apply pt-[26px]
	pb-0 
	gap-[3px] 
	px-[26px];
}

.cardTitle {
  @apply text-[24px] 
	leading-none 
	tracking-[-2%] 
	font-bold 
	text-[#0C0D0E];
}

.cardDescription {
  @apply text-[14px]
	font-normal
	leading-none
	tracking-[2%]
	text-[#99A0AE];
}

.cardDescriptionLink {
  @apply text-[#0C0D0E]
    font-medium
    underline
    underline-offset-4;
}

.cardContent {
  @apply px-[26px]
    py-[24px];
}

.formFieldContainer {
  @apply space-y-[10px]
    pb-[24px];
}

.formLabel {
  @apply text-[14px]
	tracking-[2%]
	font-normal
	text-[#0C0D0E];
}

.formControl {
  @apply mt-[4px];
}

.inputContainer {
  @apply relative;
}

.inputIcon {
  @apply absolute
	z-10
	top-1/2
	-translate-y-1/2
	left-[12px];
}

.inputField {
  @apply text-[14px]
    rounded-none
    px-[12px]
    py-[6px]
    pl-[34px]
    text-[#0C0D0E]
    font-normal
    border
    border-[#E1E4EA]
    tracking-[2%]
    focus-visible:border-[#0C0D0E]/50
    focus-visible:border-[1px]
    focus-visible:ring-4
    focus-visible:ring-[#E1E4EA]/60
    focus-visible:ring-offset-[0px]
    placeholder:text-[#99A0AE]
    drop-shadow-[0_1px_3px_rgba(143,143,143,0.20)];
}

.inputPasswordReveal {
  @apply absolute
    z-10
    top-1/2
    -translate-y-1/2
    cursor-pointer
    right-[12px];
}

.passwordRule {
  @apply text-[14px]
    font-normal
    leading-none
    tracking-[2%]
    text-[#99A0AE]
    pt-[12px]
    pb-1
    ml-6;
}

.formButton {
  @apply rounded-none 
    font-normal
    text-[14px] 
    tracking-[2%] 
    bg-[#0C0D0E] 
    h-[38px]
    w-full
    mt-2
    drop-shadow-[0_1px_4px_rgba(143,143,143,0.80)];
}

.buttonIconWrapper {
  @apply border 
    h-[22px] 
    w-[22px]
    ml-[2px]
    border-white/20
    flex
    items-center
    justify-center;
}

.buttonIcon {
  @apply size-[10px]
    -ml-[1px];
}

.continueWithOAuth {
  @apply w-full
    text-[#99A0AE]
    font-normal
    text-[14px] 
    tracking-[2%] 
    flex
    my-4
    items-center
    gap-x-[8px]
    before:bg-[#E1E4EA]
    before:h-px
    before:flex-1
    after:bg-[#E1E4EA]
    after:h-px
    after:flex-1;
}

.oauthContainer {
  @apply space-y-3;
}

.cardFooter {
  @apply bg-[#F2F5F8]
    text-[#99A0AE]
    font-normal
    text-[12px] 
    tracking-[4%] 
    py-[14px]
    px-[26px]
    flex
    items-center
    justify-between
    border-[#E1E4EA]
    border-t;
}
